
@{
    ViewData["Title"] = "ShowHouseShape";
}

<div class="wrap-container clearfix">
    <div class="column-content-detail" style="top:10px">
        <div style="top:5px">
            <div style="margin-top:20px">
                <span tyle="margin-left:10px;margin-top:-10px">
                    <input type="text" id="cc" placeholder="请输入朝向">
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <select name="category" id="lp" lay-verify="required" style="border:solid,1px">
                    <option value="0">请选择楼盘</option>

                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="category" id="hx" lay-verify="required" style="border:solid,1px">
                    <option value="0">请选择户型</option>
                    <option value="1">3室2厅1卫1厨</option>
                    <option value="2">3室2厅2卫1厨</option>
                    <option value="3">4室2厅2卫1厨</option>
                </select>
                <button class="layui-btn layui-btn-normal" lay-submit="search" onclick="Show()">搜索</button>
                <button class="layui-btn layui-btn-normal" lay-submit="search" onclick="Qing()">清空</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 
                <button class="layui-btn layui-btn-normal" lay-submit="search" onclick="Addfj()" style="background:#ff0000">添加房间</button>
            </div>
        </div>
        <div class="layui-form" id="table-list" style="top:5px">
            <table class="layui-table" lay-even lay-skin="nob">
                <colgroup>
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                </colgroup>
                <thead class="layui-table">
                    <tr style="color:#20bceb">
                        <td class="hidden-xs">房间号</td>
                        <td class="hidden-xs">房间图片</td>
                        <td class="hidden-xs">朝向</td>
                        <td class="hidden-xs">均价</td>
                        <td class="hidden-xs">房间状态</td>
                        <td class="hidden-xs">户型</td>
                        <td class="hidden-xs">楼盘</td>
                        <td class="hidden-xs">操作</td>
                    </tr>
                </thead>
                <tbody id="rb"></tbody>
            </table>
        </div>
        <div style="margin-left:450px">
            <span style="font-size:18px">当前第<a id="nowpage"></a>页</span>/<span style="font-size:18px">共<a id="gong"></a>条</span>
            <input type="button" class="layui-btn" onclick="First()" value="首页" />
            <input type="button" class="layui-btn" onclick="Pre()" value="上一页" />
            <input type="button" class="layui-btn" onclick="Next()" value="下一页" />
            <input type="button" class="layui-btn" onclick="Wei()" value="尾页" />
        </div>
    </div>
</div>
<a onclick="tk()" style="cursor:pointer"></a>
<script src="~/jquery-3.3.1.min.js"></script>

<script>
    function Addfj() {
        location.href = "http://localhost:5400/HouseShapeContrller/AddHouseShape";
    }
    $(document).ready(function () {
        Show();
        $.ajax({
            url: "http://localhost:60345/api/HouseInfoContr/SeleHouInfo",
            type: "GET",
            dataType: "json",
            success:
                function (res) {
                    var op = "";
                    $(res).each(function () {
                        op += "<option value=" + this.htId + ">" + this.hName + "</option>";
                    })
                    $("#lp").append(op);
                }
        })
        
    })
    var pageindex = 1;
    var pagesize = 5;
    var pagecount = 1;
    var allcount = 1;
    function First() {
        pageindex = 1;
        Show();
    }

    function Pre() {
        if (pageindex > 1) {
            pageindex--;
            Show();
        } else {
            alert("这是首页");
        }
    }

    function Next() {
        pageindex++;
        Show();
    }

    function Wei() {
        pageindex = pagecount;
        Show();
    }
    function Show() {
        var ccs = $("#cc").val();
        var hxs = $("#hx").val();
        var lps = $("#lp").val();
        $.ajax({
            url: "http://localhost:60345/api/HouseShapeContr/GetHouseShapes?tation=" + ccs + "&hid=" + hxs + "&htid=" + lps + "&pageindex=" + pageindex + "&pagesize=" + pagesize,
            type: "GET",
            dataType: "json",
            success:
                function (res) {
                    console.log(res);
                    pageindex = res.pageIndex;
                    pagesize = res.pageSize;
                    pagecount = res.pageCount;
                    allcount = res.allCount;
                    $("#nowpage").text(pageindex);
                    $("#gong").text(allcount);
                    var tg = "";
                    $("#rb").empty();
                    $(res.houseShapes).each(function () {
                        tg += "<tr>"
                            + "<td>" + this.hNumber + "</td>"
                            + "<td>" + "<img src = " + this.housePicture + " style='width: 115px; height: 100px'/>" + "</td>"
                            + "<td>" + this.orientation + "</td>"
                            + "<td>" + this.averagePrice + "元/㎡</td>"
                            + "<td style='color: red'>" + (this.houseState == 0 ? "在售" : this.houseState == 1 ? "已售" : "预定") + "</td>"
                            //+ "<td style='color: red'><a onclick='tk(" + this.hsId + ")' style='cursor: pointer;color: red'>" + (this.houseState == 2 ? "退房" : this.houseState == 0?"预定":"") + "</a></td>"
                            + "<td>" + this.hNames + "</td>"
                            + "<td>" + this.hName + "</td>"
                            + "<td><a style='cursor: pointer;color:#f02828' onclick='xg(" + this.hsId + ")'>修改</a></td>"
                            + "</tr>";
                    })
                    $("#rb").append(tg);
                }
        })
    }
    function xg(hsId) {
        location.href = "http://localhost:5400/HouseShapeContrller/UpdateHouseShape?Ids=" + hsId;
    }
</script>
