
@{
    ViewData["Title"] = "ShowClientData";
}

<div class="wrap-container clearfix">
    <div class="column-content-detail" style="top:10px">
        <div style="top:5px">
            <div style="margin-top:20px">
                <span tyle="margin-left:10px;margin-top:-10px">
                    <input type="text" id="name" placeholder="请输入姓名">
                </span>
                <select name="category" id="Select1" lay-verify="required" style="border:solid,1px">
                    <option value="0">是否带看</option>
                    <option value="1">已带看</option>
                    <option value="-1">未带看</option>
                </select>
                <button class="layui-btn layui-btn-normal" lay-submit="search" onclick="Show()">搜索</button>
                <button class="layui-btn layui-btn-normal" lay-submit="search" onclick="Qing()">清空</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="layui-btn layui-btn-normal" lay-submit="search" onclick="Addk()" style="background:#ff0000">添加客户</button>
            </div>
        </div>
        <div class="layui-form" id="table-list" style="top:5px">
            <table class="layui-table" lay-even lay-skin="nob">
                <colgroup>
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                </colgroup>
                <thead class="layui-table">
                    <tr style="color:#20bceb">
                        <td class="hidden-xs">客户姓名</td>
                        <td class="hidden-xs">客户手机号</td>
                        <td class="hidden-xs">客户首套/二套</td>
                        <td class="hidden-xs">客户贷款/全款</td>
                        <td class="hidden-xs">购房需求</td>
                        <td class="hidden-xs">是否带看</td>
                        <td class="hidden-xs">所属经纪人</td>
                    </tr>
                </thead>
                <tbody id="rb"></tbody>
            </table>
        </div>
        <div style="margin-left:450px">
            <span style="font-size:18px">当前第<a id="nowpage"></a>页</span>/
            <span style="font-size:18px">共<a id="gong"></a>条</span>
            <input type="button" class="layui-btn" onclick="First()" value="首页" />
            <input type="button" class="layui-btn" onclick="Pre()" value="上一页" />
            <input type="button" class="layui-btn" onclick="Next()" value="下一页" />
            <input type="button" class="layui-btn" onclick="Wei()" value="尾页" />
        </div>
    </div>
</div>
<script src="~/jquery-3.3.1.min.js"></script>
<script>
    function Addk() {
        location.href = "http://localhost:5400/ClientData/AddClientData";
    }
    $(document).ready(function () {
        Show();
    })
    var pageindex = 1;
    var pagesize = 4;
    var pagecount = 1;
    var allcount = 1;

    function First() {
        pageindex = 1;
        Show();
    }

    function Pre() {
        if (pageindex > 1) {
            pageindex--;
            Show();
        } else {
            alert("这是首页");
        }
    }

    function Next() {
        pageindex++;
        Show();
    }

    function Wei() {
        pageindex = pagecount;
        Show();
    }
    function Show() {
        var dai = $("#Select1").val();
        var name = $("#name").val();
        $.ajax({
            url: "http://localhost:60345/api/ClientDataBllContr/GetClientDatas?aid=" + 2 +"&pageindex=" + pageindex + "&pagesize=" + pagesize + "&daikan=" + dai + "&name=" + name,
            type: "GET",
            dataType: "json",
            success:
                function (res) {
                    console.log(res);
                    pageindex = res.pageIndex;
                    pagesize = res.pageSize;
                    pagecount = res.pageCount;
                    allcount = res.allCount;
                    $("#nowpage").text(pageindex);
                    $("#gong").text(allcount);
                    var tg = "";
                    $("#rb").empty();
                    $(res.clients).each(function () {
                        tg += "<tr>"
                            + "<td>" + this.cName + "</td>"               
                            + "<td>" + this.cPlaneNumber + "</td>"
                            + "<td>" + this.clientFirstHouse + "</td>"
                            + "<td>" + this.clientloans + "</td>"
                            + "<td>" + this.buyHouseRole + "</td>"
                            + "<td>" + (this.daiKan==-1?"未带看":"已带看") + "</td>"
                            + "<td>" + this.aName + "</td>"
                            + "<td>" + (this.daiKan == -1 ? "<a style='cursor: pointer;color:#f02828' onclick='xg(" + this.cId + ")'>带看</a>" : "<a style='cursor: pointer;color:#f02828' onclick='sc(" + this.cId + ")'>成交</a>")+"</td>"
                            + "</tr>";
                    })
                    $("#rb").append(tg);
                }
        })
    }
    function xg(cId) {
        if (confirm("确定带看吗？")) {
            $.ajax({
                url: "http://localhost:60345/api/ClientDataBllContr/UpdateClient?ids=" + cId,
                type: "POST",
                dataType: "json",
                success:
                    function (d) {
                        if (d > 0) {
                            location.reload();
                        } else {
                            alert("失败，请重试!");
                        }
                    }
            })
        }
        
    }
    function sc(cId) {
        if (confirm("确定成交吗？")) {
            $.ajax({
                url: "http://localhost:60345/api/ClientDataBllContr/DeleClient?ids=" + cId,
                type: "POST",
                dataType: "json",
                success:
                    function (d) {
                        if (d > 0) {
                            alert("成功");
                            location.reload();
                        } else {
                            alert("失败，请重试");
                        }
                    }
            })
        }
        
    }
</script>

