
@{
    ViewData["Title"] = "UpdateHouseInfo";
}
<input type="hidden" value="@ViewBag.ids" id="Hid" />
<table class="table">
    <div class="layui-form-item" style="margin-bottom:1px;width: 90%">
        <label class="layui-form-label">楼盘名称：</label>
        <div class="layui-input-block">
            <input type="text" id="lpmc"   class="layui-input " readonly>

        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom:1px;width: 90%">
        <label class="layui-form-label">照片：</label>
        <div class="layui-input-block">
            <div id="pic" style='width: 80px; height: 80px'></div>
             
        </div>
    </div>
    @*<div class="layui-upload" style="margin-left:20px">
            <button type="button" class="layui-btn" id="test2">多图片上传</button>
            <blockquote class="layui-elem-quote layui-uote-nm" style="margin-top: 10px;">
                预览图：
                <div class="layui-upload-list" id="demo2"></div>
            </blockquote>
        </div>*@
    <div class="layui-form-item" style="margin-bottom: 1px; width: 90%">
        <label class="layui-form-label">开盘日期：</label>
        <div class="layui-input-block">
            <input type="text" id="kprq" required lay-verify="required" autocomplete="off" class="layui-input " readonly>

        </div>

    </div>
    <div class="layui-form-item" style="margin-bottom: 1px; width: 90%">
        <label class="layui-form-label">项目地址：</label>
        <div class="layui-input-block">
            <input type="text" id="xmdz" required lay-verify="required" autocomplete="off" class="layui-input " readonly>

        </div>

    </div>
    <div class="layui-form-item" style="margin-bottom: 1px; width: 90%">
        <label class="layui-form-label">售楼处：</label>
        <div class="layui-input-block">
            <input type="text" id="slc" required lay-verify="required" autocomplete="off" class="layui-input " readonly>

        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom: 1px; width: 90%">
        <label class="layui-form-label">开发商：</label>
        <div class="layui-input-block">
            <input type="text" id="kfs" required lay-verify="required" autocomplete="off" class="layui-input " readonly>

        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom: 1px; width: 90%">
        <label class="layui-form-label">建筑面积：</label>
        <div class="layui-input-block">
            <input type="text" id="jzmj" required lay-verify="required" autocomplete="off" class="layui-input " readonly>

        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom: 1px; width: 90%">
        <label class="layui-form-label">交房时间：</label>
        <div class="layui-input-block">
            <input type="text" id="jfsj" required lay-verify="required" autocomplete="off" class="layui-input ">
        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom: 1px; width: 90%">
        <label class="layui-form-label">产权年限：</label>
        <div class="layui-input-block">
            <input type="text" id="cqnx" required lay-verify="required" autocomplete="off" class="layui-input " readonly>

        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom: 1px; width: 90%">
        <label class="layui-form-label">销售状态：</label>
        <div class="layui-input-block">
            <input type="text" id="xxzt" required lay-verify="required" autocomplete="off" class="layui-input ">

        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom: 1px; width: 90%">
        <label class="layui-form-label">建筑类别：</label>
        <div class="layui-input-block">
            <input type="text" id="jzlb" required lay-verify="required" autocomplete="off" class="layui-input " readonly>

        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom: 1px; width: 90%">
        <label class="layui-form-label">容积率：</label>
        <div class="layui-input-block">
            <input type="text" id="rjl" required lay-verify="required" autocomplete="off" class="layui-input " readonly>

        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom: 1px; width: 90%">
        <label class="layui-form-label">绿化率：</label>
        <div class="layui-input-block">
            <input type="text" id="lhl" required lay-verify="required" autocomplete="off" class="layui-input " readonly>

        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom: 1px; width: 90%">
        <label class="layui-form-label">周边规划：</label>
        <div class="layui-input-block">
            <input type="text" id="zbgh" required lay-verify="required" autocomplete="off" class="layui-input ">

        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" type="button" onclick="updateAdd()">保存修改</button>
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" type="button" onclick="Quxiao()">取消修改</button>
        </div>
    </div>

</table>
<script src="~/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        var hids = $("#Hid").val();
        $.ajax({
            url: "http://localhost:60345/api/HouseInfoContr/UpdateAddHouInfo?ids=" + hids,
            type: "GET",
            dataType: "json",
            success:
                function (res) {
                    console.log(res);
                    $(res).each(function () {
                        $("#lpmc").val(this.hName);
                        $("#kprq").val(this.htpDateTime);
                        $("#pic").append('<img src = "' + this.htPicture + '" style="width: 110px; height: 120px"/>');
                        $("#xmdz").val(this.projictSite);
                        $("#slc").val(this.sellHouse);
                        $("#kfs").val(this.developers);
                        $("#jzmj").val(this.architecturearea);
                        $("#jfsj").val(this.handHouseTime);
                        $("#cqnx").val(this.yearAstrict);
                        $("#xxzt").val(this.sellState);
                        $("#jzlb").val(this.houseStates);
                        $("#rjl").val(this.plot);
                        $("#lhl").val(this.greeningrate);
                        $("#zbgh").val(this.rim);
                    })
                }
        })
    })
    function Quxiao() {
        location.href = "http://localhost:5400/HouseInfoContrller/ShouHouseInfo";
    }
    function updateAdd() {
        var zt = $("#xxzt").val();
        var jf = $("#jfsj").val();
        var zb = $("#zbgh").val();
        var id = $("#Hid").val();
        $.ajax({
            url: "http://localhost:60345/api/HouseInfoContr/UpdateHouseInfo?sellstate=" + zt + "&handtime=" + jf + "&rim=" + zb + "&ids=" + id,
            type: "POST",
            dataType: "json",
            success:
                function (d) {
                    if (d > 0) {
                        alert("修改成功！");
                        location.href = "http://localhost:5400/HouseInfoContrller/ShouHouseInfo";
                    } else {
                        alert("修改失败！请重试");
                    }
                }
        })
    }
</script>

