
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Login</title>
    <link href="~/Login/style.css" rel="stylesheet" />
    <style>
        .drag {
            width: 300px;
            height: 40px;
            line-height: 40px;
            background-color: #e8e8e8;
            position: relative;
            margin: 0 auto;
        }

        .bg {
            width: 40px;
            height: 100%;
            position: absolute;
            background-color: #75CDF9;
        }

        .text {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            user-select: none;
        }

        .btn {
            width: 40px;
            height: 38px;
            position: absolute;
            border: 1px solid #ccc;
            cursor: move;
            font-family: "宋体";
            text-align: center;
            background-color: #fff;
            user-select: none;
            color: #666;
        }
    </style>
</head>
<body>
    <div class="login">
        <ul class="login-list">
            <li><input id="TextName" type="text" placeholder="请输入账号"></li>
            <li><input id="TextPwd" type="password" placeholder="请输入密码"></li>
            <li>验证码：<input id="Text1" type="text" /></li>
            <li>
                <img src="/Contract/CheckCode?ID=1" width="90px" height="50px" id="imgCode" alt="单击可刷新" onclick="ClickRemoveChangeCode()" />
                <div style="float:right; margin-top: 5px;">
                    <a href="javascript:void(0)" onclick="ClickRemoveChangeCode();return false;">看不清，换一张</a>
                </div>
            </li>
            <li><input id="Button1" type="button" style="width:100%" value="登录" onclick="Login()" /></li>
        </ul>
    </div>
</body>
</html>
<script src="~/jquery-3.3.1.min.js"></script>
<script>
    function ClickRemoveChangeCode() {
        var code = $("#imgCode").attr("src");
        $("#imgCode").attr("src", code + "1");
    }
    function Login() {
        var name = $("#TextName").val();
        var pwd = $("#TextPwd").val();
        var code = $("#Text1").val();

        if (name == "" || pwd == "") {
            alert("请输入用户名或密码");
            return;
        }
        $.ajax({
            url: 'http://localhost:60345/API/Wangbaoyi/Login',
            type: 'get',
            data: { "name": name, "pwd": pwd },
            dataType: 'json',
            success: function (data) {
                if (data > 0) {
                    alert("登陆成功");
                    var Uname = name
                    sessionStorage["Uname"] = Uname;
                }
            }
        })
    }
</script>