
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowCon</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/jquery-3.4.1.js"></script>
</head>
<body>
    <div>
        <table id="ta">
        </table>
    </div>
</body>
</html>
<script>
    $(function () {
        Show();
    });
    function Show() {
        var id = document.cookie;
        $.ajax({
            url: 'http://localhost:60345/Wangbaoyi/ShowCon',
            type: 'get',
            data: { "Id": id },
            dataType: 'json',
            success: function (data) {
                $("#ta").empty();
                $(data).each(function () {
                    var str = '<tr>'
                        + '<td><h2>售房购房协议书</h2></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td>甲方(售房人):' + this.AName + '</td > '
                        + '</tr>'
                        + '<tr>'
                        + '<td>乙方(买房人):' + this.CName + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;根据中华人民共和国有关法律、法规规定,甲、乙双方 <br /> 遵循自愿、公平和诚实信用的原则,经协商一致订立本合同,<br /> 以资共同遵守。</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;第一条:甲方自愿将其房屋出售给乙方,乙方也已充分 <br />了解该房屋具体状况,并自愿买受该房屋。该房屋具体状况<br /> 如下</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;出售的房屋座落于宿舍楼三层,三室一厅一周一卫一材 <br /> 棚,建筑面积为93平方米(此面积含材棚面积) (以房产证<br /> 为准);</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;第二条:甲方保证对该房屋具有处分权,保证该房屋所<br /> 有权无抵押,产权合法。<br /> 如下</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;第三条:甲乙双方经过协商确定该房屋按照总价为(人<br /> 民币）大写:' + this.PriceUp + '整, (小写)' + this.Pricedown + '元<br /> 成效(购房总价中已包含材棚面积)。</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;第四条:本协议签定后,所有关于本协议所指房屋的附<br /> 属事项及相关费用一并转让与乙方,双方就此问题不再另行<br /> 协议。</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;第五条:乙方在' + this.WorkDate + ',按照及方协商结<br /> 果支付给甲方前期房款(人民币)(大写)' + this.FirstBuyUp + '万元整, (小写)' + this.FirstBuyDown + '元。</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;第六条:房屋的相关证件过户手续由甲方办理,办理该<br /> 房屋过户手续所产生的各项费用及应当缴纳的税费,由甲方<br />独立承担。</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;第七条:后续房款的支付金额及时间。</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;(1)、在本协议签定之日起双方办理该房屋过户手续完<br /> 毕后,将剩余房款,一次付清。</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;(2)甲方应在双方规定正式交付房屋日期前腾空该房<br />屋。</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;(3)乙方在协商日期未按规定支付房价款的,则按下<br />列约定承担:</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;第八条:该房屋毁损、失火的风险自房屋正式交付之日<br />起转移给乙方。</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;第九条:该房屋正式交付时,涉及到的水、电、通讯等<br />相关杂费,由甲方缴清,房款中不包含房屋移交前所产生的<br />各项费用。</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;第十条:本契约未尽事宜,甲、乙双方可另行订立补充<br />条款或补充协议。补充条款或补充协议以及本契约的附件均<br />为本契约不可分割的部分。</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;第十一条:本契约自甲乙双方签订之日起生效。</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td><p>&emsp;&emsp;第十二条:本契约一式二份, 甲乙双方各执一份。</p></td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td>甲方签章:' + this.SealPicture + '</td>'
                        + '<td>乙方签章:' + this.SealPicture + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td>联系电话:' + this.PlaneNumber + '</td>'
                        + '<td>联系电话:' + this.PlaneNumber + '</td>'
                        + '</tr>'
                        + '<tr>'
                        + '<td>签约日期:' + this.WorkDate + '</td>'
                        + '<td>签约日期:' + this.WorkDate + '</td>'
                        + '</tr>';
                    $("#ta").append(str);
                })
            }

        })
    }
</script>
