
@{
    ViewData["Title"] = "AddAdministratorDatas";
}
<script src="~/My97DatePicker/My97DatePicker/calendar.js"></script>
<script src="~/My97DatePicker/My97DatePicker/WdatePicker.js"></script>
<table class="table">
    <div class="layui-form-item" style="margin-bottom:15px;width: 90%">
        <label class="layui-form-label">经纪人姓名：</label>
        <div class="layui-input-block">
            <input type="text" id="Text1" required lay-verify="required" autocomplete="off" class="layui-input " >
        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom:15px;width: 90%">
        <label class="layui-form-label">经纪人手机号：</label>
        <div class="layui-input-block">
            <input type="text" id="Text1" required lay-verify="required" autocomplete="off" class="layui-input " >
        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom:15px;width: 90%">
        <label class="layui-form-label">经纪人身份证件号：</label>
        <div class="layui-input-block">
            <input type="text" id="Text1" required lay-verify="required" autocomplete="off" class="layui-input " >
        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom:15px;width: 90%">
        <label class="layui-form-label">经纪人照片：</label>
        <div class="layui-input-block">
            <form method="post" enctype="multipart/form-data" id="form">
                <input type="file" name="file" id="file" multiple="multiple" />
            </form>
        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom:15px;width: 90%">
        <label class="layui-form-label">入职时间：</label>
        <div class="layui-input-block">
            <input type="text" id="Text1" required lay-verify="required" autocomplete="off" class="layui-input " onclick="WdatePicker()">
        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom:15px;width: 90%">
        <label class="layui-form-label">经纪人职位：</label>
        <div class="layui-input-block">
            <input type="text" id="Text1" required lay-verify="required" autocomplete="off" class="layui-input " >
        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom:15px;width: 90%">
        <label class="layui-form-label">经纪人证件号：</label>
        <div class="layui-input-block">
            <input type="text" id="Text1" required lay-verify="required" autocomplete="off" class="layui-input " >
        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom:15px;width: 90%">
        <label class="layui-form-label">所属公司：</label>
        <div class="layui-input-block">
            <input type="text" id="Text1" required lay-verify="required" autocomplete="off" class="layui-input " >
        </div>
    </div>
    <div class="layui-form-item" style="margin-bottom:15px;width: 90%">
        <label class="layui-form-label">登录密码：</label>
        <div class="layui-input-block">
            <input type="password" id="Text1" required lay-verify="required" autocomplete="off" class="layui-input " placeholder="8--16位" ;>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" type="button" onclick="addst()">保存</button>
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" type="button" onclick="cong()">重置</button>
        </div>
    </div>
</table>
<script src="~/jquery-3.3.1.min.js"></script>
<script>
    function addst() {
        $.ajax({
            url: "",
            type: "",
            dataType: "",
            data: {},
            success:
                function (d) {

                }
        })
    }
</script>
