
@{
    ViewData["Title"] = "ShowAdministratorDatas";
}
<script src="~/My97DatePicker/My97DatePicker/calendar.js"></script>
<script src="~/My97DatePicker/My97DatePicker/WdatePicker.js"></script>
<div class="wrap-container clearfix">
    <div class="column-content-detail" style="top:10px">
        <div style="top:5px">
            <div style="margin-top:20px">
                <span tyle="margin-left:10px;margin-top:-10px">
                    <input type="text" id="name" placeholder="请输入姓名">
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span tyle="margin-left:10px;margin-top:-10px">
                    <input type="text" id="rzrq" placeholder="请输入入职时间" onclick="WdatePicker()">
                </span>
                <span tyle="margin-left:10px;margin-top:-10px">
                    <input type="text" id="lzrq" placeholder="请输入离职时间" onclick="WdatePicker()">
                </span>
                <span tyle="margin-left:10px;margin-top:-10px">
                    <input type="text" id="gh" placeholder="请输入工号">
                </span>
                <button class="layui-btn layui-btn-normal" lay-submit="search" onclick="Show()">搜索</button>
                <button class="layui-btn layui-btn-normal" lay-submit="search" onclick="qing()">清空</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="layui-btn layui-btn-normal" lay-submit="search" onclick="Addlp()" style="background:#ff0000">添加经纪人</button>
            </div>
        </div>
        <div class="layui-form" id="table-list" style="top:5px">
            <table class="layui-table" lay-even lay-skin="nob">
                <colgroup>
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                    <col width="180">
                </colgroup>
                <thead class="layui-table">
                    <tr style="color:#20bceb">
                        <td class="hidden-xs">姓名</td>
                        <td class="hidden-xs">照片</td>
                        <td class="hidden-xs">身份证号</td>
                        <td class="hidden-xs">入职时间</td>
                        <td class="hidden-xs">手机号</td>
                        <td class="hidden-xs">职位</td>
                        <td class="hidden-xs">证件号</td>
                        <td class="hidden-xs">所属公司</td>
                        <td class="hidden-xs">操作</td>
                    </tr>
                </thead>
                <tbody id="rb"></tbody>
            </table>
        </div>
        <div style="margin-left:450px">
            <span style="font-size:18px">当前第<a id="nowpage"></a>页</span>/<span style="font-size:18px">共<a id="gong"></a>条</span>
            <input type="button" class="layui-btn" onclick="First()" value="首页" />
            <input type="button" class="layui-btn" onclick="Pre()" value="上一页" />
            <input type="button" class="layui-btn" onclick="Next()" value="下一页" />
            <input type="button" class="layui-btn" onclick="Wei()" value="尾页" />
        </div>
    </div>
</div>
<script src="~/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        Show();
    })
    var pageindex = 1;
    var pagesize = 4;
    var pagecount = 1;
    var allcount = 1;

    function First() {
        pageindex = 1;
        Show();
    }

    function Pre() {
        if (pageindex > 1) {
            pageindex--;
            Show();
        } else {
            alert("这是首页");
        }
    }

    function Next() {
        pageindex++;
        Show();
    }

    function Wei() {
        pageindex = pagecount;
        Show();
    }
    function Show() {
        var na = $("#name").val();
        var rz = $("#rzrq").val();
        var lz = $("#lzrq").val();
        var ghs = $("#gh").val();
        $.ajax({
            url: "http://localhost:60345/api/AdministratorDataContr/GetAdministratorDatas?name=" + na + "&begintime=" + rz + "&statime=" + lz + "&card=" + ghs + "&pageindex=" + pageindex + "&pagesize=" + pagesize,
            type: "GET",
            dataType: "json",
            success:
                function (res) {
                    console.log(res);
                    pageindex = res.pageIndex;
                    pagesize = res.pageSize;
                    pagecount = res.pageCount;
                    allcount = res.allCount;
                    $("#nowpage").text(pageindex);
                    $("#gong").text(allcount);
                    var tg = "";
                    $("#rb").empty();
                    $(res.administratorDatas).each(function () {
                        var beginTime = String(this.beginTime).substring(0, 10);
                        tg += "<tr>"
                            + "<td>" + this.aName + "</td>"
                            + "<td>" + "<img src = " + this.aPicture + " style='width: 110px; height: 120px'/>" + "</td>"
                            + "<td>" + this.card + "</td>"
                            + "<td>" + beginTime + "</td>"
                            + "<td>" + this.aPlaneNumber + "</td>"
                            + "<td>" + this.aPosition + "</td>"
                            + "<td>" + this.companyCard + "</td>"
                            + "<td>" + this.company + "</td>"
                            + "<td><a style='cursor: pointer;color:#f02828' onclick='xg(" + this.aId + ")'>修改</a></td>"
                            + "</tr>";
                    })
                    $("#rb").append(tg);
                }
        })
    }
    function xg(aId) {
        location.href = "http://localhost:5400/AdministratorDatas/UpdateAdministratorDatas?Ids=" + aId;
    }
    function qing() {
        var na = $("#name").val("");
        var re = $("#rzrq").val("");
        var z = $("#lzrq").val("");
        var g = $("#gh").val("");
    }
    function Addlp() {
        location.href = "http://localhost:5400/AdministratorDatas/AddAdministratorDatas";
    }
</script>
