<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>房产销售管理模版</title>
    <link href="~/admin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/admin/css/admin.css" rel="stylesheet" />
</head>
<body>
    <div class="main-layout" id='main-layout'>
        <!--侧边栏-->
        <div class="main-layout-side">
            <div style="width:200px;height:100px">
                <img src="~/123.jpg" style="width:200px;height:100px" />

            </div>
            <ul class="layui-nav layui-nav-tree" lay-filter="leftNav">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;" onclick="zhu()"><i class="iconfont">&#xe607;</i>主页</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="iconfont">&#xe608;</i>楼盘管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="article-list.html" data-id='5' data-text="楼盘信息" onclick="Showlp()"><span class="l-line"></span>楼盘信息</a></dd>
                        <dd><a href="javascript:;" data-url="danye-list.html" data-id='6' data-text="户型信息" onclick="Showhx()"><span class="l-line"></span>户型信息</a></dd>
                        <dd><a href="javascript:;" data-url="danye-list.html" data-id='9' data-text="房型信息" onclick="Shouhousetype()"><span class="l-line"></span>房型信息</a></dd>
                        <dd><a href="javascript:;" data-url="danye-list.html" data-id='9' data-text="经纪人信息" onclick="AdminIstratoData()"><span class="l-line"></span>经纪人信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="iconfont">&#xe608;</i>客户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="menu3.html" data-id='3' onclick="Showkh()" data-text="YYYY"><span class="l-line"></span>客户信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="iconfont">&#xe608;</i>房产销售管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="" data-id='9' data-text="XXXXX" onclick="HouseSale()"><span class="l-line"></span>房产销售</a></dd>
                        <dd><a href="javascript:;" data-url="" data-id='9' data-text="XXXXX" onclick="CloseHouse()"><span class="l-line"></span>房态统计图</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="iconfont">&#xe608;</i>效绩图对比</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="menu3.html" data-id='3' data-text="YYYY" onclick="WokkerSalePK()"><span class="l-line"></span>员工销售统计</a></dd>
                        <dd><a href="javascript:;" data-url="menu3.html" data-id='3' data-text="YYYY" onclick="HouseState()"><span class="l-line"></span>公司季度统计</a></dd>
                        <dd><a href="javascript:;" data-url="menu3.html" data-id='3' data-text="YYYY" onclick="HouseStateYuanPicture()"><span class="l-line"></span>房产销售模块</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="iconfont">&#xe608;</i>合同信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="menu3.html" data-id='3' onclick="ContractList()" data-text="YYYY"><span class="l-line"></span>合同列表</a></dd>
                        <dd><a href="javascript:;" data-url="menu3.html" data-id='3' onclick="AddContract()" data-text="YYYY"><span class="l-line"></span>添加合同</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!--右侧内容-->
        <div class="main-layout-container">
            <!--头部-->
            <div class="main-layout-header">
                <ul class="layui-nav" lay-filter="rightNav">
                    <li class="layui-nav-item"><a href="javascript:;" data-url="email.html" data-id='4' data-text="邮件系统"><i class="iconfont">&#xe603;</i></a></li>
                    <li class="layui-nav-item">

                        <a href="javascript:;" data-url="admin-info.html" data-id='5' data-text="个人信息">
                            <img src="~/5c3562592af63421.jpeg!200x200.jpg" style="width:61px;height:61px" id="imgs" />
                            &nbsp;当前用户:
                            <input id="UserName" disabled value="" style="border:0px" />
                        </a>
                    </li>
                    <li class="layui-nav-item"><a href="javascript:;" onclick="loca()">退出</a></li>
                </ul>
            </div>
            <!--主体内容-->
            <div class="main-layout-body" style="overflow-y:scroll;height:867px">
                <!--tab 切换-->
                <div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="tab" lay-allowClose="true">
                     
                    <div class="layui-tab-content">
                        @RenderBody()
                        <div class="layui-tab-item layui-show">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/Scripts/layui.js"></script>
<script src="~/admin/js/common.js"></script>
<script src="~/admin/js/main.js"></script>
<script src="~/jquery-3.3.1.min.js"></script>
<script>
    function AddContract() {
        location.href = "http://localhost:5400/Contract/AddCon";
    }
    function AdminIstratoData() {
        location.href = "http://localhost:5400/AdministratorDatas/ShowAdministratorDatas";
    }
    function Showlp() {
        location.href = "http://localhost:5400/HouseInfoContrller/ShouHouseInfo";
    }
    function Showhx() {
        location.href = "http://localhost:5400/HousType/ShowHousType";
    }
    function HouseSale() {
        location.href = "http://localhost:5400/HouseSaleOrMrLi/Indexs";
    }
    function CloseHouse() {
        location.href = "http://localhost:5400/HouseSaleOrMrLi/Indexs2";
    }
    function WokkerSalePK() {
        location.href = "http://localhost:5400/PictureTableHouseSale/WokkerSalePK";
    }
    function HouseState() {
        location.href = "http://localhost:5400/PictureTableHouseSale/HouseState";
    }
    function HouseStateYuanPicture() {
        location.href = "http://localhost:5400/PictureTableHouseSale/HouseStateYuanPicture";
    }
    function ContractList() {
        location.href = "http://localhost:5400/ContractController/ShowConList";
    }
    function AddContract() {
        location.href = "http://localhost:5400/ContractController/AddCon";
    }
    function loca() {
        location.href = "http://localhost:5400/ContractController/Login";
    }
    function Shouhousetype() {
        location.href = "http://localhost:5400/HouseShapeContrller/ShowHouseShape";
    }
    function Showkh() {
        location.href = "http://localhost:5400/ClientData/ShowClientData";
    }
</script>